#Bottom{
    border-top: 1px solid rgba(0,0,0,.22);
    background-color: white;
    text-align: center;
    color: gray;
    padding: 0 10px;
}

.bt{
    margin: 15px;
}
.bt-top{
    display: inline;
    margin: 0 20px;
}

.bt-top-txt{
    margin: 0 5px;
}