#Top{
    background-color: white;
    height: 60px;
    font-size: 15px;
    font-weight: 500;
    background-size: 44px 44px;
    border-bottom: 1px solid rgba(0,0,0,.22);
    padding: 0 20px;
}

.content{

    min-width: 600px;
    max-width: 1100px;
    margin: 0 auto ;

}
.logo{
    width: 120px;
    height: 54px;
    margin: 3px 0 ;
}

.logo img{
    height: 100%;
}