#main {
  min-width: 820px;
  margin: 0;
  padding: 0;
  background-color:#e1e1e1;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Luxi Sans", "Segoe UI", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Logo";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
