
#list-pic-parent {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*align-items: center;*/
    overflow: auto;
}

.list-pic {
    overflow: hidden;
}

#pic-list-page {
    display: block;
}


#page-button-wrapper {
    margin: 20px auto;

    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*align-items: center;*/
    overflow: auto;
}

